@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 88% 94%;
    --foreground: 224 71% 4%;
    --card: 197 88% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 197 88% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 71% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 50% 85%;
    --secondary-foreground: 224 71% 4%;
    --muted: 197 50% 90%;
    --muted-foreground: 197 10% 40%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 60% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 30% 80%;
    --input: 197 30% 85%;
    --ring: 197 71% 53%;
    --chart-1: 197 71% 53%;
    --chart-2: 120 73% 75%;
    --chart-3: 27 87% 67%;
    --chart-4: 43 74% 66%;
    --chart-5: 173 58% 39%;
    --radius: 0.5rem;
    --sidebar-background: 220 40% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 197 71% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 40% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 40% 15%;
    --sidebar-ring: 197 71% 53%;
  }

  .dark {
    --background: 220 40% 5%;
    --foreground: 210 40% 98%;
    --card: 220 40% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 40% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 71% 53%;
    --primary-foreground: 224 71% 4%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 60% 20%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 197 71% 63%;
    --chart-1: 197 71% 53%;
    --chart-2: 120 73% 75%;
    --chart-3: 27 87% 67%;
    --chart-4: 43 74% 66%;
    --chart-5: 173 58% 39%;
    --sidebar-background: 220 40% 5%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 197 71% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 40% 10%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 40% 10%;
    --sidebar-ring: 197 71% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
